<wm-page data-ng-controller="AddBookPageController" name="page1"> 
    <wm-mobile-navbar name="mobile_navbar1" title="bind:Variables.bookData.dataSet.id > 0 ? 'Edit Book' : 'Add Book'" backbuttoniconclass="wi wi-arrow-left" searchbutton="false" defaultview="actionview"> 
        <wm-button class="btn-default" caption="" type="button" name="button2" iconclass="fa fa-check" on-click="Variables.saveBook.createRecord()" show="false"></wm-button> 
    </wm-mobile-navbar> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1" class="add-book-page {{Variables.bookData.dataSet.id > 0 ? 'edit-mode' : ''}}"> 
            <wm-segmented-control name="addBookSegmentedControl" show="true"> 
                <wm-segment-content caption="SCAN" name="scanSegment"> 
                    <wm-container name="container2" horizontalalign="center" paddingtop="40"> 
                        <wm-barcodescanner name="barcodescanner" on-success="barcodescannerSuccess($event, $scope)" iconclass="fa fa-barcode" title="Scan Barcode" caption="Scan Book Barcode" class="btn-lg btn-secondary scan-btn" iconsize="3em" textalign="center" display="inline-block" bordercolor="#d9534f" borderstyle="solid" bordertop="2" borderleft="2" borderbottom="2" borderright="2"></wm-barcodescanner> 
                    </wm-container> 
                </wm-segment-content> 
                <wm-segment-content caption="MANUAL" name="manualSegment" loadmode="after-delay" loaddelay="1000"> 
                    <wm-container name="container1" horizontalalign="center" backgroundrepeat="no-repeat" backgroundposition="center center" backgroundsize="auto 100%" margintop="20" marginbottom="20"> 
                        <wm-picture name="picture1" picturesource="bind:Variables.bookData.dataSet.imageUrl" on-click="Variables.takeBookPicture.invoke()" width="100pt"></wm-picture> 
                    </wm-container> 
                    <wm-container name="addBookContainer" show="true"> 
                        <wm-liveform name="addBookForm" defaultmode="Edit" insertmessage="Book added successfully" novalidate="false" on-success="addBookFormSuccess($event, $operation, $data);Variables.allBooks.listRecords();Variables.readingBooks.listRecords();Variables.mywishlist.listRecords();Variables.readBooks.listRecords();Variables.goToLastPage.invoke();Variables.LIBRARYExecuteUpdateCategoryPicture.invoke()" show="true" captionposition="left" dataset="bind:Variables.LIBRARYBookData.dataSet" captionalign="left" horizontalalign="center" paddingunit="em" on-beforeservicecall="addBookFormBeforeservicecall($event, $operation, $data)" updatemessage="Book updated successfully" class="panel-default"> 
                            <wm-layoutgrid name="layoutgrid2"> 
                                <wm-gridrow name="gridrow23"> 
                                    <wm-gridcolumn show="hide" name="gridcolumn1"></wm-gridcolumn> 
                                    <wm-gridcolumn show="hide" name="gridcolumn2"></wm-gridcolumn> 
                                    <wm-gridcolumn show="show" name="gridcolumn3" columnwidth="12"> 
                                        <wm-form-field display-name="Title" show="true" primary-key="false" generator="assigned" key="title" type="string" maxvalue="255" is-related="false" readonly="false" required="true" multiple="false" default-value="bind:Variables.bookData.dataSet.title" class="titleField" placeholder="Enter value" regexp=".*" name="form_field1"></wm-form-field> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow name="gridrow24"> 
                                    <wm-gridcolumn show="show" name="gridcolumn4" columnwidth="12"> 
                                        <wm-form-field display-name="Author" show="true" primary-key="false" generator="assigned" key="author" type="string" maxvalue="255" is-related="false" readonly="false" required="false" multiple="false" default-value="bind:Variables.bookData.dataSet.author" placeholder="Enter value" regexp=".*" name="form_field2"></wm-form-field> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow name="gridrow25"> 
                                    <wm-gridcolumn show="show" name="gridcolumn5" columnwidth="12"> 
                                        <wm-form-field display-name="Publisher" show="true" primary-key="false" generator="assigned" key="publisher" type="string" maxvalue="255" is-related="false" readonly="false" required="false" multiple="false" default-value="bind:Variables.bookData.dataSet.publisher" placeholder="Enter value" regexp=".*" name="form_field3"></wm-form-field> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow name="gridrow26"> 
                                    <wm-gridcolumn show="show" name="gridcolumn6" columnwidth="12"> 
                                        <wm-form-field display-name="Isbn" show="true" primary-key="false" generator="assigned" key="isbn" type="string" maxvalue="255" is-related="false" readonly="false" required="false" multiple="false" default-value="bind:Variables.bookData.dataSet.isbn" placeholder="Enter value" on-change="isbnChange($event, $scope)" regexp=".*" name="form_field4"></wm-form-field> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow name="gridrow27"> 
                                    <wm-gridcolumn show="show" name="gridcolumn7" columnwidth="12"> 
                                        <wm-form-field display-name="Category" show="true" primary-key="false" generator="assigned" key="category" type="list" is-related="true" readonly="false" required="true" placeholder="" datafield="cid" displayfield="name" name="form_field5" defaultvalue="bind:Variables.bookData.dataSet.category.cid" dataset="bind:Variables.LIBRARYCategoryData.dataSet"></wm-form-field> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow name="gridrow28"> 
                                    <wm-gridcolumn show="hide" name="gridcolumn8" columnwidth="12"></wm-gridcolumn> 
                                    <wm-gridcolumn show="hide" name="gridcolumn9" columnwidth="12"></wm-gridcolumn> 
                                    <wm-gridcolumn show="hide" name="gridcolumn10" columnwidth="12"></wm-gridcolumn> 
                                    <wm-gridcolumn show="show" name="gridcolumn11" columnwidth="12"> 
                                        <wm-form-field display-name="Description" show="true" primary-key="false" generator="assigned" key="description" type="string" maxvalue="2000" is-related="false" readonly="false" required="false" multiple="false" default-value="bind:Variables.bookData.dataSet.description" class="description" placeholder="Enter value" regexp=".*" widget-type="Textarea" name="form_field6"></wm-form-field> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                            </wm-layoutgrid> 
                            <wm-form-field display-name="Id" show="false" primary-key="true" generator="identity" key="id" type="integer" is-related="false" readonly="true" required="true" multiple="false" placeholder="Enter value" step="1" regexp=".*" name="form_field7"></wm-form-field> 
                            <wm-form-field display-name="Image Url" show="false" primary-key="false" generator="assigned" key="imageUrl" type="string" maxvalue="255" is-related="false" readonly="false" required="false" multiple="false" default-value="bind:Variables.bookData.dataSet.imageUrl" placeholder="Enter value" regexp=".*" name="form_field8"></wm-form-field> 
                            <wm-form-field display-name="Read Status" show="false" primary-key="false" generator="assigned" key="readStatus" type="integer" is-related="false" readonly="false" required="false" default-value="bind:Variables.bookData.dataSet.readStatus" multiple="false" placeholder="Enter value" step="1" regexp=".*" widget-type="Text" name="form_field9"></wm-form-field> 
                            <wm-form-field display-name="Rating" show="false" primary-key="false" generator="assigned" key="rating" type="integer" is-related="false" readonly="false" required="false" default-value="bind:Variables.bookData.dataSet.rating" multiple="false" placeholder="Enter value" step="1" regexp=".*" widget-type="Text" name="form_field10"></wm-form-field> 
                            <wm-form-field display-name="Tenantid" show="false" primary-key="false" generator="assigned" key="tenantid" type="string" maxvalue="255" is-related="false" readonly="false" required="false" multiple="false" default-value="bind:Variables.bookData.dataSet.tenantid" placeholder="Enter value" regexp=".*" name="form_field11"></wm-form-field> 
                            <wm-form-action key="save" display-name="Done" show="true" class="form-save btn-primary full-width done" type="submit" update-mode="true"></wm-form-action> 
                        </wm-liveform> 
                    </wm-container> 
                </wm-segment-content> 
            </wm-segmented-control> 
        </wm-page-content> 
    </wm-content> 
</wm-page>