.edit-mode .app-segmented-control >.btn-group-justified a {
    display: none;
}
.edit-mode .app-segmented-control .app-segments-container .app-segment-content:first-child {
    display: none;
}
.edit-mode .app-segmented-control .app-segments-container .app-segment-content {
    padding-top: 0;
}