<wm-partial data-ng-controller="LeftNavPageController" type="leftnav" name="partial1"> 
    <wm-nav type="pills" layout="stacked" name="nav1" height="100%" backgroundimage="resources/images/imagelists/bg.png"> 
        <wm-nav-item name="nav_item1"> 
            <wm-anchor caption="WaveReads" backgroundcolor="TRANSPARENT" on-click="leftNavToggleBtnClick($event, $scope)" name="leftNavToggleBtn" paddingunit="px" borderunit="px" marginleft="0" iconclass="wi wi-bars" class="h4" paddingleft="0" paddingtop="0" paddingright="0" paddingbottom="0" fontweight="normal"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="nav_item2"> 
            <wm-anchor caption="Home" backgroundcolor="TRANSPARENT" on-click="Variables.goToPage-Main.invoke()" name="anchor4_2" paddingunit="em" paddingleft="0" borderunit="px" marginleft="0" iconwidth="0" badgevalue="bind:bookBadge"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="nav_item3"> 
            <wm-anchor caption="Categories" name="anchor4" backgroundcolor="TRANSPARENT" on-click="Variables.goToPage_CategoryItems.invoke()" paddingunit="em" paddingleft="0" iconwidth="0" badgevalue="bind:badge"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="nav_item4"> 
            <wm-anchor caption="About" name="anchor5" backgroundcolor="TRANSPARENT" on-click="Variables.goToPage_About.invoke()" paddingunit="em" paddingleft="0" iconwidth="0"></wm-anchor> 
        </wm-nav-item> 
    </wm-nav> 
</wm-partial>