<wm-page data-ng-controller="SearchByAPIPageController" name="page1"> 
    <wm-mobile-navbar name="mobile_navbar2" searchbutton="false" backbuttoniconclass="wi wi-arrow-left" show="true" title="Search Books" searchplaceholder="Search" defaultview="searchview" datavalue="bind:Variables.SearchData.dataSet.dataValue" on-search="Variables.GoogleapisInvoke.invoke()"></wm-mobile-navbar> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-container name="BookHeader25"> 
                <wm-livelist listclass="list-inline book-list" name="allBook" itemsperrow="3" dataset="bind:Variables.GoogleapisInvoke.dataSet.items" show="true"> 
                    <wm-listtemplate layout="blank" name="listtemplate2"> 
                        <wm-container name="container2_1" class="thumbnail" horizontalalign="center"> 
                            <wm-picture name="bookPic" picturesource="bind:Variables.GoogleapisInvoke.dataSet.items[0].volumeInfo.imageLinks.thumbnail" shape="rounded" on-click="bookPicClick($event, $scope)" show="true"></wm-picture> 
                        </wm-container> 
                    </wm-listtemplate> 
                </wm-livelist> 
            </wm-container> 
        </wm-page-content> 
    </wm-content> 
    <wm-view name="bookDetails" show="false" class="bookDetailsView" animation="slideInRight"> 
        <wm-container name="container5_3" width="100%" height="100%" show="true" content="Details"></wm-container> 
    </wm-view> 
</wm-page>