/*START - ios Theme Customizations*/
.wm-app  {
@import "../../../../components/bootstrap/less/bootstrap.less";
@import "variables";
//Variables

  font-size: @font-size-base;
  color: @text-color;
  font-family: @font-family-base;
  background-color: @body-bg;

  //header
  @wm-header-text-color: #fff;
  @wm-header-bg-color: @brand-primary;
  @wm-header-border-color: rgba(0,0,0,0.5);

  //left panels
  @wm-left-panel-btn-color: #fff;
  @wm-left-panel-bg: @body-bg;
  @wm-left-panel-list-border: 1px transparent solid;
  @wm-left-panel-list-shadow-color: #000;
  @wm-left-panel-link-hover-bg-color: @body-bg;
  @wm-left-panel-link-hover-text-color: @brand-primary;

  //Tabset
  @nav-tabs-color-hover: @brand-primary;
  @nav-tabs-bg-color: #273647;

  //Calendar
  @wm-calendar-bg-color: #fff;

 //Button
 .btn {
  	text-transform: uppercase;
    outline-width: 0 !important;
    font-size: 10pt;
 }
 .btn-secondary  {
     color: inherit;
     border-color: transparent;
     background-color: transparent;
     border-radius: 3pt;
 }

  //Label Styles: Donot remove
  label {
    font-weight: normal;
  }

/*******************************************************************************************/
/***************************************     LAYOUTS     ***********************************/
/*******************************************************************************************/
//content background
  .app-content-column {
    background-color: @body-bg;
  }

  //Header
  .app-mobile-navbar {
	background-color: @wm-header-bg-color;
	color: @wm-header-text-color;
	.navbar.searchbar {
	  color: @text-color;
	  .btn-close.glyphicon-remove:before {
         content: "\e088";
      }
      .mobile-navbar-left {
        display: none;
      }
      .mobile-navbar-center {
        width: 75%;
        .app-mobile-search {
          border: none;
          .form-control {
            background-color: #fff;
            border-width: 1px;
          }
        }
      }
      .mobile-navbar-right {
        display: table-cell;
      }
    }

    .navbar {
       border-bottom: 1px transparent solid;
      .navbar-header {
        .navbar-brand {
          font-weight: normal;
          font-size: 12pt;
        }
      }
      .navbar-nav {
        > li {
          > a {
            color: @wm-header-text-color;
          }
        }
      }
      .navbar-nav.navbar-right {
        > li {
          >a {
            outline-width: 0;
          }
          .dropdown {
            .dropdown-menu > li > a {
              &:hover {
                color: @brand-primary;
              }
            }
          }
          .app-popover > a , .dropdown > .app-button, a {
            color: @wm-header-text-color;
          }
        }
      }
	}
    .mobile-navbar-left, .mobile-navbar-right {
      width: 25%;
    }
    .mobile-navbar-center {
      width: 50%;
    }
    .navbar-btn {
      color: inherit;
      background-color: inherit;
      padding-left: 0;
      padding-right: 0;
      &:hover , &:focus {
        color: inherit;
      }
    }
  }

  //Tabbar
  .navbar-default {
    background-color: @nav-tabs-bg-color;
  }
  .app-tabbar {
    .navbar {
      .navbar-nav {
        .dropdown {
          .dropdown-menu {
              background-color: @nav-tabs-bg-color;
          }
        }
      }
    }
  }
//Mobile menu panel which comes from left
  .app-left-panel {
    background-color: @wm-left-panel-bg;
    border-right: @wm-left-panel-list-border;
    box-shadow: 2px 2px 2px @wm-left-panel-list-shadow-color;
	text-transform: uppercase;
	width: 70%;
    .nav {
      li {
        a, .btn, .dropdown a, .dropdown a.dropdown-toggle, .app-popover a {
          color: @wm-left-panel-btn-color;
          border-radius: 0;
          border-left: 0.5em solid transparent;
          transition: color .5s ease, background .5s ease;
          -webkit-transition: color .5s ease, background .5s ease;
          -moz-transition: color .5s ease, background .5s ease;
          -ms-transition: color .5s ease, background .5s ease;
          -o-transition: color .5s ease, background .5s ease;
          &:hover {
            color: @wm-left-panel-link-hover-text-color;
            background-color: @wm-left-panel-link-hover-bg-color;
            border-left-color: transparent;
            transition: color .5s ease, background .5s ease;
            -webkit-transition: color .5s ease, background .5s ease;
            -moz-transition: color .5s ease, background .5s ease;
            -ms-transition: color .5s ease, background .5s ease;
            -o-transition: color .5s ease, background .5s ease;
          }
          &.active {
            border-left-color: transparent;
            color: @wm-left-panel-link-hover-text-color;
          }
        }
      }
    }
  }

//naviagtion styles for links list in the application
  .app-nav {
    .app-nav-item {
      border-bottom: 1px @wm-header-border-color solid;
      a, .btn, .dropdown a, .dropdown a.dropdown-toggle, .app-popover a {
        letter-spacing: .025em;
        font-weight: bold;
        padding: .93em 1em;
        position: relative;
        border-radius: 0;
        line-height: 24pt;
        color: @text-color;
        &:hover {
          text-decoration: none;
          color: @wm-left-panel-link-hover-text-color;
          background-color: @wm-left-panel-link-hover-bg-color;
        }
        &.active {
          background-color: transparent;
          color: @wm-left-panel-link-hover-text-color;
          border-left-color: @wm-left-panel-link-hover-text-color;
        }
        .app-icon {
          width: 1.2em;
          text-align: center;
        }
      }

      > .dropdown.open {
        .dropdown-menu {
          position: relative;
          padding: 0.833em 0px;
          margin: 0 0 1.333em;
          border: 0;
          border-bottom: 1px solid @input-border;
          box-shadow: none;
          li {
            a {
              padding: 0.667em 1.667em;
            }
          }
        }
      }
      > .dropdown {
        > a {
          padding: 1.333em;
        }
      }
    }
  }

//Mobile segmented control for android it should look like tabs
  .app-segmented-control {
    > .btn-group {
      .btn.active {
        color: @component-active-color;
        border-color: @component-active-bg;
        background-color: @component-active-bg;
		font-weight: normal;
      }
      .btn {
        background-color: @body-bg;
        color: @btn-default-color;
        border-color: @btn-default-color;
        border-bottom-width: 1px;
        border-right-width: 0;
		font-weight: normal;
        &:active, &:focus, &:hover {
            box-shadow: none;
        }
        &:last-child {
            border-right-width: 1px;
        }
      }
      &.btn-group-justified {
        padding: 1em;
      }
    }
  }

//Tabs
  .nav-tabs {
    border-bottom-color: @nav-tabs-bg-color;
    background-color: @nav-tabs-bg-color;
    > li {
      > a, .app-menu a  {
        color: @nav-tabs-active-link-hover-color;
        background-color: transparent;
        border-bottom-color: transparent;
        border-bottom-width: 3px;
        border-radius: 0;
		text-transform: uppercase;
        box-shadow: none;
        margin-right: 0px;
        border-color: transparent;
        text-transform: uppercase;
        &:hover {
          color: @nav-tabs-active-link-hover-color;
          background-color: transparent;
          border-color: transparent;
        }
        .app-icon {
          background-size: 100%;
          margin-right: 0.417em;
          top: 0.167em;
        }
      }
      &.active {
        > a, .app-menu a {
          border-color: transparent transparent @component-active-bg;
          color: @nav-tabs-active-link-hover-color;
          background-color: @nav-tabs-active-link-hover-bg;
		  text-transform: uppercase;
          border-bottom-width: 3px;
          &:hover {
            border-color: transparent transparent @component-active-bg;
            color: @nav-tabs-active-link-hover-color;
            background-color: @nav-tabs-active-link-hover-bg;
            border-bottom-width: 3px;
          }
        }
      }
    }
  }

  //Tab Content
  .tab-content {
	background-color: transparent;
    .tab-body {
      border-color: transparent;
    }
  }

  .app-tabbar {
	  .navbar {
	    .navbar-nav {
           .dropdown {
              background-color: transparent;
           }
           >li > a {
              outline-width: 0;
           }
        }
      }
  }

/*******************************************************************************************/
/***************************************Containers Widgets**********************************/
/*******************************************************************************************/
//Panels
  .panel {
    border-width: 0;
    padding: 0;
    margin: 0;
    box-shadow: none;
    .panel-body {
      padding: 0;
    /***specific use cases when the radioset and checkboxset comes directly in the panel****/
      > .app-radioset, > .app-checboxset {
        li {
          margin-top: 0;
        }
      }
    }
  }

//Popover styles
  .popover {
    border-radius: 0px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    color: @text-color;
  }

//Carousel
  .carousel-control {
    &.left, &.right {
      background-image: none;
    }
    &.icon-prev, .icon-next, .glyphicon-chevron-left, .glyphicon-chevron-right {
      color: grey;
      text-shadow: none;
    }
  }

  /***confirm dialog specific classes*****/
  .app-dialog-title {
    text-align: center;
  }
  .app-confirm-dialog {
    .app-dialog-footer {
      padding: 0;
      .btn {
        width: 50%;
        background: transparent;
        color: @link-color;
        border: 0;
        border-radius: 0;
      }
      .btn + .btn {
        margin: 0;
        border-left: 1px @panel-inner-border solid;
      }
    }
  }
  .app-alert-dialog {
    .app-dialog-footer .btn {
       width: 100%;
    }
  }
/*******************************************************************************************/
/***************************************List Widgets**********************************/
/*******************************************************************************************/
//App Live list. The list-group classes are set through the boostrap variable
  .app-livelist {
	.media {
      background-color: @list-group-bg;
	  border-bottom: 1px solid @list-group-border;
	  padding: @nav-link-padding;
	  margin-top: 0;
	}
	.media-right {
	  a, .btn{
		color: inherit;
	  }
	}
	&.panel {
		margin: 0;
    }
  }

//Tree
  .app-tree {
    ul {
      li {
        span {
          &:hover {
            color: @gray-base;
          }
        }
      }
    }
  }
//App toggle
  .app-toggle {
    .switch {
        top: 0;
    }
    label {
      box-shadow: none;
    }
  }
/*******************************************************************************************/
/***************************************Form Widgets****************************************/
/*******************************************************************************************/
  .app-form, .app-liveform {
    .app-grid-layout {
      input, select, textarea {
        border: 0;
      }
      .app-grid-row {
        border-bottom: 1px solid @input-border;
        .app-grid-column {
          border-right: 1px solid @input-border;
        }
      }
    }
    .form-action, .form-action.btn-group {
      .btn {
        border-radius: @border-radius-base;
        margin: 0 0.333em;
      }
    }
  }

//form group widget
  .form-group {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    .control-label {
      padding-left: 1em;
      padding-right: 1em;
      color: @input-color;
    }
    .form-control {
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      margin: 0;
      border-radius: 0;
    }
    .app-select {
      background-color: transparent !important;
    }
  }

//form controls
 .form-control {
    box-shadow: none;
    height: @input-height-base;
    background-color: transparent;
    color: @input-color;
    font-size: 10pt;
    border-color: transparent !important;
    &textarea {
      height: (@input-height-base * 2);;
    }
    &select {
      padding-left:  @thumbnail-padding;
    }
	&.app-select,&:focus.app-select {
      color: @input-color;
      background-color: transparent;
    }
 }

/*******************************************************************************************/
/***************************************Advanced Widgets****************************************/
/*******************************************************************************************/
//Spinner icon
  .app-spinner {
   //default spinner image
   background-color: transparent;
      .spinner-message {
         background-color: transparent;
         border-color: transparent;
         top: 30%;
         width: 150px;
         height: 150px;
        .spinner-text {
           display: none;
        }
      }
      .spinner-image {
         background: transparent url('images/loader.svg') center center no-repeat !important;
         animation: 0;
         -webkit-animation: 0;
         color: transparent;
      }
   }

  //Progress Bar
  .progress {
    border-radius: 0;
    box-shadow: none;
  }

  //Calendar
  .app-calendar {
    background-color: @body-bg;
    .fc {
        .fc-state-default {
          color: @btn-default-color;
          background: @btn-default-bg;
          border-color: @btn-default-color;
          text-shadow: none;
          &.fc-state-hover, &:focus, &.fc-state-active {
            color: @component-active-color;
            background: @component-active-bg;
          }
        }
    }

    .fc-state-highlight {
      &.fc-today {
        background-color: @component-active-bg;
        color: @component-active-color;
      }
    }
    .fc {
      .fc-toolbar {
        h2 {
          color: @link-color;
        }
      }
      .fc-view-container {
         background-color: @wm-calendar-bg-color;
      }
    }
    .fc-widget-header {
      background-color: @wm-calendar-bg-color;
      color: @text-color;
    }
    .fc-body {
      .fc-row {
        min-height: 3em;
        .fc-content-skeleton {
          padding: .8em 0;
          td {
            text-align: center;
          }
        }
      }
    }
    .fc-unthemed {
      .fc-divider, .fc-popover, .fc-row, tbody, td, th, thead {
        //border-color: transparent;
      }
    }
  }

//App-date
  .app-date, .app-datetime {
    thead {
      tr {
        th {
          button {
            font-size: 1em;
            background: @btn-default-bg;
            color: @btn-default-color;
          }
        }
      }
    }

    tbody {
      .btn {
        background: @btn-default-bg;
        border-color: @gray-lighter;
        font-size: 10pt;
        &.btn-info {
          background-color: @btn-info-bg;
          color: @btn-info-color;
        }
        &:focus, &:hover, &.active {
          background-color: @component-active-bg;
          color: @component-active-color;
          box-shadow: none;
          .text-info {
             color: inherit;
          }
        }
        .text-info {
          color: @brand-primary;
        }
      }
    }

    .dropdown-menu {
      li {
        &:last-child {
          border-top: 1px solid @input-border;
          margin-top: 0.583em;
          overflow: auto;
        }
      }
    }
  }

//App-datetime
  .app-timeinput, .app-datetime {
    tbody {
      .btn {
        height: 30pt;
        &:not(.btn-link) {
          border: 1px solid @input-border;
        }
      }
      .text-info {
        color: @text-color;
      }

      .btn-link {
        width: 100%;
        background-color: transparent;

        &:hover {
          background-color: @component-active-bg;
          color: @component-active-color;
        }
      }
    }
  }

  //Toaster
  #toast-container {
    .toast{
        border-radius: 0;
        background-color: transparent;

        .toast-title {
        font-size: 0.8em;
        }

        .toast-message {
        font-size: 0.7em;
        }
    }
  }

  //App-ratings
  .app-ratings {
    .rating-style>label:hover, .rating-style>label:hover~label {
        color: @brand-primary;
    }
    & .active {
        color:  @brand-primary;
    }
  }
}