/*START - Android Theme Customizations*/


.wm-app  {
  @import "../../../../components/bootstrap/less/bootstrap.less";
  @import "variables";

//Variables

  font-size: @font-size-base;
  color: @text-color;
  font-family: @font-family-base;
  background-color: @body-bg;

  @wm-default-shadow-color: 0 1px 1px rgba(0, 0, 0, .4);

  //header
  @wm-header-text-color: #fff;
  @wm-header-bg-color: @brand-primary;
  @wm-header-border-color: rgba(255,255,255,0.1);

  //Left panels
  @wm-left-panel-btn-color: #fff;
  @wm-left-panel-bg: @body-bg;
  @wm-left-panel-list-border: 1px transparent solid;
  @wm-left-panel-list-shadow-color: #000;
  @wm-left-panel-link-hover-bg-color: rgba(0,0,0,0.3);
  @wm-left-panel-link-hover-text-color: @brand-primary;

  //Tabset
  @nav-tabs-color-hover: @brand-primary;
  @nav-tabs-bg-color: #273647;

  //Calendar
  @wm-calendar-bg-color: #fff;

  //Tabbar
  @wm-mobile-tabbar-bg : #273647;

  //Button
  .btn {
	 text-transform: uppercase;
     outline-width: 0 !important;
     font-size: 10pt;
  }
  .btn-secondary  {
     color: inherit;
     border-color: transparent;
     background-color: transparent;
  }

  //Label Styles: Donot remove
  label {
	font-weight: normal;
  }


/*******************************************************************************************/
/***************************************     LAYOUTS     ***********************************/
/*******************************************************************************************/
//content background
  .app-content-column {
    background-color: @body-bg;
  }

//Header
  .app-mobile-navbar {
	background-color: @wm-header-bg-color;
	color: @wm-header-text-color;
	border-bottom: 1px solid @wm-header-border-color;
	text-transform: uppercase;
	.navbar.searchbar {
	  color: @wm-header-text-color;
    }

    .navbar {
      .navbar-header {
        .navbar-brand {
          font-weight: normal;
          font-size: 12pt;
        }
      }
      .navbar-nav.navbar-right {
        >li >a {
          outline-width: 0;
        }
        .dropdown {
          .dropdown-menu > li > a {
            &:hover {
              color: @brand-primary;
            }
          }
        }
      }
    }
    .navbar-btn {
      color: inherit;
      background-color: inherit;
      &:hover , &:focus {
        color: inherit;
      }
    }
  }

//Mobile menu panel which comes from left
  .app-left-panel {
    background-color: @wm-left-panel-bg;
    border-right: @wm-left-panel-list-border;
    box-shadow: 2px 2px 2px @wm-left-panel-list-shadow-color;
	text-transform: uppercase;
	width: 70%;
    .nav {
      li {
        a, .btn, .dropdown a, .dropdown a.dropdown-toggle, .app-popover a {
          color: @wm-left-panel-btn-color;
          border-radius: 0;
          text-transform: uppercase;
          border-left: 0.5em solid transparent;
          transition: color .5s ease, background .5s ease;
          -webkit-transition: color .5s ease, background .5s ease;
          -moz-transition: color .5s ease, background .5s ease;
          -ms-transition: color .5s ease, background .5s ease;
          -o-transition: color .5s ease, background .5s ease;
          &:hover {
            background-color: @wm-left-panel-link-hover-bg-color;
            border-left-color: transparent;
            transition: color .5s ease, background .5s ease;
            -webkit-transition: color .5s ease, background .5s ease;
            -moz-transition: color .5s ease, background .5s ease;
            -ms-transition: color .5s ease, background .5s ease;
            -o-transition: color .5s ease, background .5s ease;
          }
          &.active {
            border-left-color: transparent;
            color: @wm-left-panel-link-hover-text-color;
          }
        }
      }
    }
    /***overwriting the styles when the accordion is in left panel***/
    /*.app-accordion, .app-panel {
      margin: 0;
      .panel-heading {
        background-color: @panel-primary-heading-bg;
        color: @panel-primary-text;
      }
      .panel-body {
        padding: 0;
      }
    }*/
  }

//naviagtion styles for links list in the application
  .app-nav {
    .app-nav-item {
      border-bottom: 1px @wm-header-border-color solid;
      a, .btn, .dropdown a, .dropdown a.dropdown-toggle, .app-popover a {
        letter-spacing: .025em;
        font-weight: bold;
        padding: .93em 1em;
        position: relative;
        border-radius: 0;
        line-height: 24pt;
        color: @text-color;
        &:hover {
          text-decoration: none;
          background-color: @wm-left-panel-link-hover-bg-color;
        }
        &.active {
          background-color: transparent;
          border-left-color: @wm-left-panel-link-hover-text-color;
        }
        .app-icon {
          width: 1.2em;
          text-align: center;
        }
      }

      > .dropdown.open {
        .dropdown-menu {
          position: relative;
          padding: 0.833em 0px;
          margin: 0 0 1.333em;
          border: 0;
          border-bottom: 1px solid @input-border;
          box-shadow: none;
          li {
            a {
              padding: 0.667em 1.667em;
            }
          }
        }
      }
      > .dropdown {
        > a {
          padding: 1.333em;
        }
      }
    }
  }

//Mobile segmented control for android it should look like tabs
  .app-segmented-control {
    > .btn-group {
      box-shadow: 0 0px 5px @component-active-bg;
      .btn.active {
        color: @nav-tabs-active-link-hover-color;
        border-color: transparent transparent @nav-tabs-active-link-hover-border-color;
        background-color: @nav-tabs-bg-color;
        box-shadow: none;
		font-weight: normal;
		
      }
      .btn {
        background-color: @nav-tabs-bg-color;
        color: @nav-tabs-active-link-hover-color;
        border-color: transparent;
        border-bottom-width: 2px;
		font-weight: normal;
        &:active, &:focus, &:hover {
            box-shadow: none;
        }
      }
      &.btn-group-justified {
        padding: 0;
      }
    }
  }

//Tabs
  .nav-tabs {
    border-bottom-color: @nav-tabs-bg-color;
    background-color: @nav-tabs-bg-color;
    > li {
      > a, .app-menu a  {
        color: @nav-tabs-active-link-hover-color;
        background-color: transparent;
        border-bottom-color: transparent;
        border-bottom-width: 3px;
        border-radius: 0;
        box-shadow: none;
        margin-right: 0px;
        text-transform: uppercase;
		font-weight: normal;
        &:hover {
          color: @nav-tabs-active-link-hover-color;
          background-color: transparent;
          border-color: transparent;
        }
        .app-icon {
          background-size: 100%;
          margin-right: 0.417em;
          top: 0.167em;
        }
      }
      &.active {
        > a, .app-menu a {
          border-color: transparent transparent @nav-tabs-active-link-hover-border-color;
          color: @nav-tabs-active-link-hover-color;
          background-color: transparent;
          border-bottom-width: 3px;
          &:hover {
            border-color: transparent transparent @nav-tabs-active-link-hover-border-color;
            color: @nav-tabs-active-link-hover-color;;
            background-color: transparent;
            border-bottom-width: 3px;
          }
        }
      }

    }
  }

  //Tab Content
  .tab-content {
	background-color: @body-bg;
    .tab-body {
      border-color: transparent;
    }
  }

  //tabbar
  .navbar-default {
     background-color: @wm-mobile-tabbar-bg;
  }
  .app-tabbar {
     .navbar {
        .navbar-nav {
            .dropdown {
                .dropdown-menu {
                    background-color: @nav-tabs-bg-color;
                }
            }
        }
     }
  }
/*******************************************************************************************/
/***************************************Containers Widgets**********************************/
/*******************************************************************************************/
//Panels
  .panel {
    border-width: 0;
    box-shadow: @wm-default-shadow-color;
    .panel-body {
      padding: 0;
    /***specific use cases when the radioset and checkboxset comes directly in the panel****/
      > .app-radioset, > .app-checboxset {
        li {
          margin-top: 0;
        }
      }
    }
  }
  .app-panel, .app-accordion {
    margin-left: @padding-base-horizontal;
    margin-right: @padding-base-horizontal;
    margin-bottom: 0;
  }

//Popover styles
  .popover {
    border-radius: @border-radius-base;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    color: @text-color;
  }

//Carousel
  .carousel-control {
    &.left, &.right {
      background-image: none;
    }
    &.icon-prev, .icon-next, .glyphicon-chevron-left, .glyphicon-chevron-right {
      color: grey;
      text-shadow: none;
    }
  }

/*******************************************************************************************/
/***************************************List Widgets**********************************/
/*******************************************************************************************/
//App Live list. The list-group classes are set through the boostrap variable
  .app-livelist {
	.media {
	  background-color: @list-group-bg;
	  border-bottom: 1px solid @list-group-border;
	  padding: @nav-link-padding;
	  margin-top: 0;
	}
	.media-right {
	  a, .btn{
		color: inherit;
	  }
	}
	&.panel {
		margin: 0;
		box-shadow: none;
    }
  }

//Tree
  .app-tree {
    ul {
      li {
        span {
          &:hover {
            color: @gray-base;
          }
        }
      }
    }
  }
//App toggle
  .app-toggle {
    label {
      box-shadow: @wm-default-shadow-color;
    }
  }
/*******************************************************************************************/
/***************************************Form Widgets****************************************/
/*******************************************************************************************/
  .app-form, .app-liveform {
    .app-grid-layout {
      input, select, textarea {
        border: 0;
      }
      .app-grid-row {
        border-bottom: 1px solid @input-border;
        .app-grid-column {
          border-right: 1px solid @input-border;
          &:last-child {
            border-right: 1px solid transparent;
          }
        }
      }
    }
    .form-action, .form-action.btn-group {
      .btn {
        border-radius: @border-radius-base;
        margin: 0 0.333em;
      }
    }
  }

//form group widget
  .form-group {
    margin-bottom: 0;
    /*.app-select {
      background-color: transparent !important;
    }*/
  }

//form controls
  .form-control {
    box-shadow: none;
    height: @input-height-base;
    &textarea {
      height: (@input-height-base * 2);
    }
    &select {
      padding-left: @thumbnail-padding;
    }
	/*&.app-select,&:focus.app-select {
      color: @input-color;
      background-color: @wm-tab-bg-normal;
    }*/
  }

/*******************************************************************************************/
/***************************************Advanced Widgets****************************************/
/*******************************************************************************************/
//Spinner icon
  .app-spinner {
   //default spinner image
   background-color: transparent;
      .spinner-message {
         background-color: transparent;
         border-color: transparent;
         top: 30%;
         width: 150px;
         height: 150px;
        .spinner-text {
           display: none;
        }
      }
      .spinner-image {
         background: transparent url('images/loader.svg') center center no-repeat !important;
         animation: 0;
         -webkit-animation: 0;
         color: transparent;
      }
   }

//Progress Bar
  .progress {
    border-radius: 0;
    box-shadow: none;
  }

  //Calendar
  .app-calendar {
    background-color: @body-bg;
    .fc {
      .fc-state-default {
          color: @btn-default-color;
          background: @btn-default-bg;
          &.fc-state-hover, &:focus, &.fc-state-active {
            color: @component-active-color;
            background: @component-active-bg;
          }
      }
    }

    .fc-state-highlight {
      &.fc-today {
        background-color: @component-active-bg;
        color: @component-active-color;
      }
    }
    .fc {
      .fc-toolbar {
        h2 {
          color: @text-color;
        }
      }
      .fc-view-container {
         background-color: @wm-calendar-bg-color;
      }
    }
    .fc-widget-header {
      background-color: @wm-calendar-bg-color;
      color: @gray-base;
    }
    .fc-body {
      .fc-row {
        min-height: 3em;
        .fc-content-skeleton {
          padding: .8em 0;
          td {
            text-align: center;
          }
        }
      }
    }

    .fc-unthemed {
      .fc-divider, .fc-popover, .fc-row, tbody, td, th, thead {
        //border-color: transparent;
      }
    }
  }

//App-date
  .app-date, .app-datetime {
    thead {
      tr {
        th {
          button {
            background: @btn-default-bg;
            color: @btn-default-color;
          }
        }
      }
    }

    tbody {
      .btn-default {
        background: @btn-default-bg;
        border-color: @gray-lighter;
        font-size: 10pt;
        &.btn-info {
          background-color: @btn-info-bg;
          color: @btn-info-color;
        }
        &:focus, &:hover, &.active {
          background-color: @brand-info;
          box-shadow: none;
          .text-info {
             color: inherit;
          }
        }
        .text-info {
          color: @brand-info;
        }
      }
    }

    .dropdown-menu {
      li {
        &:last-child {
          border-top: 1px solid @input-border;
          margin-top: 0.583em;
          overflow: auto;
        }
      }
    }
  }

  //App-datetime
  .app-timeinput, .app-datetime {
    tbody {
      .btn {
        height: 30pt;
        &:not(.btn-link) {
          border: 1px solid @input-border;
        }
      }
      .text-info {
        color: @text-color;
      }

      .btn-link {
        width: 100%;
        background-color: transparent;

        &:hover {
          background-color: @component-active-bg;
          color: @component-active-color;
        }
      }
    }
  }

  //Toaster
  #toast-container {
     .toast{
        border-radius: 0;
        background-color: transparent;

        .toast-title {
        font-size: 0.8em;
        }

        .toast-message {
        font-size: 0.7em;
        }
     }
  }

  //App-ratings
  .app-ratings {
     rating-style>label:hover, .rating-style>label:hover~label {
        color: @brand-primary;
     }
     & .active {
        color: @brand-primary;
     }
  }
}
