<wm-page data-ng-controller="noBooksPartialPageController" name="page1"> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-container name="noBookContainer" horizontalalign="left" class="padded"> 
                <wm-button class="btn-secondary" caption="ADD" type="button" name="button1" paddingtop="4.2" paddingbottom="4.2" paddingleft="2.5" paddingright="2.5" fontsize="1" fontunit="em" display="inline-block" textalign="center" on-click="Variables.goToPage-AddBook.invoke()" fontweight="bold" marginbottom="30" paddingunit="em" bordercolor="#d9534f" borderstyle="solid" bordertop="2" borderleft="2" borderbottom="2" borderright="2"></wm-button> 
                <wm-container name="container6" horizontalalign="center"> 
                    <wm-label name="label1" caption="You haven't  added any books yet." class="text-info" fontunit="em"></wm-label> 
                    <wm-container name="container7" horizontalalign="center"> 
                        <wm-label caption="Let us know what you read." name="label3" class="text-info" fontunit="em"></wm-label> 
                    </wm-container> 
                </wm-container> 
            </wm-container> 
        </wm-page-content> 
    </wm-content> 
</wm-page>