<wm-page data-ng-controller="MainPageController" name="page1">
    <wm-left-panel content="LeftNav" columnwidth="10" name="left_panel1" animation="slide-over"></wm-left-panel>
    <wm-mobile-navbar name="mobile_navbar1" title="WaveReads" backbutton="false" backgroundsize="10px, 10px" backgroundposition="center center" leftnavpaneliconclass="wi wi-bars" searchbutton="true" searchbuttoniconclass="wi wi-search"
    searchplaceholder="Search Books" on-search="mobile_navbar1Search($event, $scope);Variables.GoogleapisInvoke.invoke()" defaultview="actionview" backbuttoniconclass="wi wi-arrow-left" class="left-icon" padding="0px unset unset unset">
        <wm-anchor class="add-btn" caption="" type="button" name="addBtn" on-click="Variables.goToPage-AddBook.invoke()" iconclass="wi wi-plus" show="bind:Variables.checkNetwork.dataSet.isOnline"></wm-anchor>
    </wm-mobile-navbar>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-tabs name="tabs1" height="100%" transition="slideal" show="bind:Variables.checkNetwork.dataSet.isOnline">
                <wm-tabpane name="tabpane1" heading="ALL">
                    <wm-livelist listclass="list-inline book-list" name="allBookList" itemsperrow="3" dataset="bind:Variables.allBooks.dataSet" show="true">
                        <wm-listtemplate layout="blank" name="listtemplate2">
                            <wm-container name="container2_1" class="thumbnail" horizontalalign="center">
                                <wm-picture name="bookPic" picturesource="bind:Variables.allBooks.dataSet[$i].imageUrl" shape="rounded" on-click="bookPicClick($event, $scope)" show="true"></wm-picture>
                            </wm-container>
                        </wm-listtemplate>
                    </wm-livelist>
                    <wm-container name="container7" content="noBooksPartial" show="bind:Variables.allBooks.dataSet.data.length === 0"></wm-container>
                    <wm-container name="container10">
                        <wm-container name="container12"></wm-container>
                    </wm-container>
                </wm-tabpane>
                <wm-tabpane name="tabpane2" heading="READING">
                    <wm-livelist listclass="list-inline book-list" itemsperrow="3" dataset="bind:Variables.readingBooks.dataSet" name="readingBookList">
                        <wm-listtemplate layout="blank" name="listtemplate2_1">
                            <wm-container class="thumbnail" backgroundimage="resources/images/imagelists/spinner-small.gif" backgroundposition="center, center" backgroundrepeat="no-repeat" name="container5">
                                <wm-picture picturesource="bind:Variables.readingBooks.dataSet[$i].imageUrl" shape="rounded" name="picture2" on-click="bookPicClick($event, $scope)"></wm-picture>
                            </wm-container>
                        </wm-listtemplate>
                    </wm-livelist>
                    <wm-container name="container7_1" content="noBooksPartial" show="bind:Variables.readingBooks.dataSet.data.length === 0"></wm-container>
                </wm-tabpane>
                <wm-tabpane name="tabpane3" heading="WANT TO">
                    <wm-livelist listclass="list-inline book-list" itemsperrow="3" dataset="bind:Variables.mywishlist.dataSet" name="wishlist">
                        <wm-listtemplate layout="blank" name="listtemplate3">
                            <wm-container class="thumbnail" backgroundimage="resources/images/imagelists/spinner-small.gif" backgroundposition="center, center" backgroundrepeat="no-repeat" name="container5_1">
                                <wm-picture picturesource="bind:Variables.mywishlist.dataSet[$i].imageUrl" shape="rounded" name="picture3" on-click="bookPicClick($event, $scope)"></wm-picture>
                            </wm-container>
                        </wm-listtemplate>
                    </wm-livelist>
                    <wm-container name="container7_2" content="noBooksPartial" show="bind:Variables.mywishlist.dataSet.data.length === 0"></wm-container>
                </wm-tabpane>
                <wm-tabpane name="tabpane4" heading="COMPLETED">
                    <wm-livelist listclass="list-inline book-list" itemsperrow="3" dataset="bind:Variables.readBooks.dataSet" name="readList">
                        <wm-listtemplate layout="blank" name="listtemplate4">
                            <wm-container class="thumbnail" backgroundimage="resources/images/imagelists/spinner-small.gif" backgroundposition="center, center" backgroundrepeat="no-repeat" name="container5_2">
                                <wm-picture picturesource="bind:Variables.readBooks.dataSet[$i].imageUrl" shape="rounded" name="picture4" on-click="bookPicClick($event, $scope)"></wm-picture>
                            </wm-container>
                        </wm-listtemplate>
                    </wm-livelist>
                    <wm-container name="container7_3" content="noBooksPartial" show="bind:Variables.readBooks.dataSet.data.length === 0 "></wm-container>
                </wm-tabpane>
            </wm-tabs>
            <wm-container name="container11" class="text-center">
                <wm-label name="label1" caption="You are Offline  !" fontsize="2" fontunit="em" textalign="left" show="bind:Variables.checkNetwork.dataSet.isOffline"></wm-label>
            </wm-container>
            <wm-container name="container13"></wm-container>
        </wm-page-content>
    </wm-content>
    <wm-view name="bookDetails" show="false" class="bookDetailsView" animation="slideInRight">
        <wm-container name="container5_3" width="100%" height="100%" show="true" content="Details"></wm-container>
    </wm-view>
</wm-page>