<wm-page data-ng-controller="CategoryBookPageController" name="page1"> 
    <wm-mobile-navbar name="mobile_navbar1" title="bind:Variables.headerName.dataSet.dataValue" backbutton="true" searchbutton="true" backbuttoniconclass="wi wi-back" searchbuttoniconclass="wi wi-search" on-search="Variables.getCategoryBooks.listRecords()" searchplaceholder="Search Books in Category" defaultview="actionview"> 
        <wm-anchor caption="" iconclass="wi wi-delete" on-click="anchor1Click($event, $scope)" class="delete-btn" name="deleteCategory" show="bind:Variables.headerName.dataSet.dataValue != 'Miscellaneous' &amp;&amp; Variables.isAppOnline.dataSet.dataValue"></wm-anchor> 
    </wm-mobile-navbar> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1" paddingunit="em"> 
            <wm-livelist listclass="list-inline book-list" name="allCategoryBookList" itemsperrow="3" dataset="bind:Variables.getCategoryBooks.dataSet" marginunit="em" paddingtop="1" paddingunit="em"> 
                <wm-listtemplate layout="blank" name="listtemplate2"> 
                    <wm-container name="container2_1" class="thumbnail" backgroundimage="resources/images/imagelists/spinner-small.gif" backgroundposition="center, center" backgroundrepeat="no-repeat"> 
                        <wm-picture name="bookPic" picturesource="bind:Variables.getCategoryBooks.dataSet[$i].imageUrl" shape="rounded" on-click="bookPicClick($event, $scope);Variables.showDetailsView.invoke()"></wm-picture> 
                    </wm-container> 
                </wm-listtemplate> 
            </wm-livelist> 
            <wm-container name="container7" content="noBooksPartial" show="bind:Variables.getCategoryBooks.dataSet.data.length === 0" paddingleft="1" paddingright="1" paddingunit="em"></wm-container> 
        </wm-page-content> 
    </wm-content> 
    <wm-view name="bookDetails" show="false" class="bookDetailsView"> 
        <wm-container name="container2" width="100%" height="100%" class="bookDetailsView" content="Details"></wm-container> 
    </wm-view> 
</wm-page>