/*.black-con {*/
/*    transform: rotate(350deg);*/
/*    width: 85pt;*/
/*    height: 105pt;*/
/*    background: #000;*/
/*}*/
/*.white-con {*/
/*    transform: rotate(6deg);*/
/*    background: #fff;*/
/*}*/
/*.picture-con {*/
/*    transform: rotate(4deg);*/
/*}*/